<!DOCTYPE html>
<html lang="en">
<head>
<%include ./partials/head.ejs%>
</head>

<body>

<% include main/navigation.ejs %>
<div class="container profile-container">
    <div class="page-header">
        <h1>Profile</h1>
    </div>
    <div class="user-profile">
        <ul>
            <li><span class="label label-primary">First Name:</span> <%= user_info.first_name %></li>
            <li><span class="label label-primary">Last Name:</span> <%= user_info.last_name %></li>
            <li><span class="label label-primary">E-mail:</span> <%= user_info.email %></li>
        </ul>
    </div>
    <hr>
    <div>
        <h1>My Comments</h1>
        <table class="table table-hover custom-table">
            <tr>
                <th>Date</th>
                <th>Business</th>
                <th>Review</th>
                <th>Score</th>
            </tr>
            <% if (user_info.flag === 0){
        var d = new Date(user_info.comments[0].review_date);
        console.log(user_info);
    %>
            <tr>
                <td><%= (d.getMonth() + 1) + "-" + d.getDate() + "-" + d.getFullYear() %></td>
                <td><a href="/bus_profile/<%=user_info.comments[0].biz_id%>">
                        <%= user_info.comments[0].business_name %>
                    </a></td>
                <td><%= user_info.comments[0].comment %></td>
                <td><%= user_info.comments[0].score %></td>
            </tr>
            <% }else if(user_info.flag === 1){ %>
            <tr>
                <td class="alert alert-danger" colspan="4">No Comments</td>
            </tr>
            <% }else{ user_info.comments.forEach(function(i){
        var comment_date = new Date(i.review_date);
    %>
            <tr>
                <td><%= (comment_date.getMonth() + 1) + "-" + comment_date.getDate()
    + "-" + comment_date.getFullYear() %></td>
                <td><a href="/bus_profile/<%=i.biz_id%>"><%= i.business_name %></a></td>
                <td><%= i.comment %></td>
                <td><%= i.score %></td>
            </tr>

            <% });}%>
        </table>
    </div>

</div>

<footer class="custom-footer" >
    <div class="container">
        <%include partials/footer.ejs%>
    </div>
</footer>
<% include partials/bootstrap_scripts.ejs %>
</body>
</html>